<div class="chat">
    <div class="header">
        <input type="text" placeholder="user" [(ngModel)]="user">
        <input type="text" placeholder="room" [(ngModel)]="room">
        <div class="buttons">
            <button (click)="join()">Join</button>
            <button (click)="leave()">Leave</button>
        </div>
    </div>
    <div class="messages">
        <div *ngFor="let m of messageArray">
            <div class="messages_item"></div>
            <div class="messages_item__user">{{m.user}}</div>
            <div class="messages_item__message">{{m.message}}</div>
        </div>
    </div>
    <div class="s_message">
        <input type="text" placeholder="send message" [(ngModel)]="messageText">
        <button (click)="sendMessage()">send message</button>
    </div>
</div>